@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
  scroll-padding-top: 100px; /* Otorga 100px de padding superior a todas las anclas internas */
}

/* Colors */
:root {

  /* Marca y Acciones (Magenta Principal) */
  --first-color: rgb(195, 32, 107);
  --first-alpha-color: rgba(195, 32, 107, 0.75);

  /* Acento y Variantes (Magenta Claro) */
  --second-color: rgb(229, 85, 145);
  --second-alpha-color: rgba(229, 85, 145, 0.75);

  /* Texto Oscuro (Especial para lectura sobre crema) */
  --third-color: rgb(92, 18, 54);
  --third-alpha-color: rgba(92, 18, 54, 0.75);

  /* Enlaces y Estados Activos (Blanco puro) */
  --link-color: rgb(255, 255, 255);
  --link-alpha-color: rgba(255, 255, 255, 0.75);

  /* Fondos (Crema característico de la marca) */
  --bg-color: rgb(242, 231, 226);
  --bg-alpha-color: rgba(242, 231, 226, 0.75);
  
  /* Color de superficie adicional */
  --surface-color: rgb(255, 255, 255);

  /* -------------------------------------------------- */

  /* Marca y Acciones */
  --color-primary: #c3206b;           /* Magenta principal */
  --color-primary-variant: #e55591;   /* Magenta claro (Acento) */
  
  /* Superficies y Fondos */
  --color-bg: #f2e7e2;                /* Fondo crema */
  --color-surface: #ffffff;           /* Blanco para secciones limpias */
  
  /* Tipografía y Estados */
  --color-text-main: #5c1236;         /* Texto oscuro sobre crema */
  --color-text-on-primary: #f2e7e2;   /* Texto crema sobre magenta */
  --color-active: #ffffff;            /* Para denotar la página actual en el nav */
}

body {
  font-family: 'Raleway', Arial, sans-serif;
  background-color: var(--bg-color);
}

/* ---------- HEADER SECTION (Mobile) ---------- */
.header {
  background-color: var(--second-color);
  position: sticky;                     /* Fija el header al scroll respetando su espacio original en el flujo del documento */
  top: 0px;                             /* Define el punto de anclaje para el sticky (borde superior) */
  z-index: 10;                          /* Asegura que el header se posicione por encima de otros elementos en el eje Z */
  box-shadow: 0 0 5px #0003;          /* Sombra sutil: 0 desplazamiento, 5px de desenfoque y color negro con 20% de opacidad */
}

.header__nav {
  max-width: 1320px;                    /* Limita el punto hasta donde se mueven los elementos del header en pantallas ultra anchas */
  margin: auto;                         /* Centra el contenido del header (logo y links) */
}

.header__logo {
  height: 3rem;                         /* Tamaño de fuente relativo (3 * 16px del navegador = 48px) */
  width: auto;                          /* Ancho automático para que no se pierda la relación de aspecto del logo */

  filter: drop-shadow(0 0 5px var(--third-color));      /* Genera una sombra oscura en el contorno real del logo (ideal para archivos PNG) */
  transition: filter 0.3s ease, transform 0.3s ease;    /* Suaviza la transición del filtro y la escala durante 0.3 segundos. */
}

.header__logo:hover {
  filter: drop-shadow(0 0 5px var(--link-color));       /* Cambia el color de la sombra del logo a blanco. */
  transform: scale(1.15);                               /* Aumenta el tamaño del logo un 10% mediante una transformación de escala. */
}

.header__open-nav-button {
  border: none;                         /* Elimina el borde del ícono de menú hamburguesa */
}

.header__open-nav-button:focus {
  box-shadow: none;                     /* Elimina la sombra de enfoque predeterminada de Bootstrap para una estética más limpia */
}

.header__open-nav-button .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 1 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* Modificación de la variable original del ícono hamburguesa para cambiar el color base */
}

.header__open-nav-button .navbar-toggler-icon:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 195, 32, 107, 0.75 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* Modificación de la variable original del ícono hamburguesa para cambiar el color en estado 'hover' */

  transition: background-image 0.2s ease-out;        /* Cambia el color del ícono del menú hamburguesa en 0.2 segundos. */
}

.header__nav-list {
  margin-top: 5px;                      /* Genera un espacio que da aire a los links cuando el menú hamburguesa esta abierto */
}

.header__nav-item:hover {  
  background-color: var(--first-alpha-color);
  color: var(--surface-color);
  border-radius: 10px;                  /* Suaviza los bordes del color de fondo en hover de los links */
}

.nav-link {
  color: var(--bg-color);
  font-size: 1.15rem;                   /* Tamaño de fuente relativo (1.15 * 16px del navegador = 18.4px) */
  font-weight: bold;                    /* Le da más peso a la fuente de texto de los links */
  text-align: center;                   /* Alinea al centro el texto de los links */

  transition: transform 0.3s ease,      /* Transición de 0.3s de cambio de tamaño (escala) al texto del link */
              color 0.3s ease-in-out;   /* Transición de 0.3s de cambio de color al texto del link */
}

.nav-link:is(:hover, :focus) {
  color: var(--bs-white);
  transform: scale(1.06);
}

.nav-link--active {
  color: var(--bs-white);               /* Define el color blanco de la fuente al texto del link donde esta situado el usuario */
  text-shadow: 0 0 5px var(--bs-white); /* Define un brillo blanco en el link la página donde esta situado el usuario */
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 768px) {   /* Tablets en horizontal y portátiles pequeñas (md) */

  .header__nav-list {
    /* margin-left: auto;               /* Reemplazado por la clase ms-md-auto de Bootstrap */
    margin-top: 0px;                    /* Resetea el margin superior dado en la versión mobile */
    gap: 10px;                          /* Define un espaciado de 15px entre los links de navegación */
  }

  .header__nav-item {
    padding-left: 0;
  }

  .header__nav-item:is(:hover, :focus) { /* :is() agrupa */
    background-color: transparent;      /* Resetea el background-color dado en la versión mobile */
    margin: 0;
  }
}

/* ---------- HEADER ENDS ---------- */

/* ---------- FOOTER SECTION (Mobile) ---------- */
.footer {
  background-color: var(--third-color);
  color: var(--bg-color);

  padding: 25px 0;                      /* Espaciado interno para separar el contenido de los bordes del footer */
}

.footer .container {
  display: flex;                        /* Layout flexible para apilar secciones en vertical (móvil) */
  flex-direction: column;
  gap: 10px;                            /* Espaciado uniforme de 10px entre los bloques de Contacto, Enlaces y Redes */
}

.footer__column {
  text-align: center;                   /* Centrado de todo el contenido para una mejor jerarquía visual */
}

.footer__title {
  font-size: 1.25rem;                   /* Tamaño de fuente relativo (1.2 * 16px del navegador = 20px) */
  margin-bottom: 15px;                  /* Margen inferior para separar el título de los datos o links */
}

.footer__list {
  list-style: none;                     /* Elimina los marcadores o viñetas predeterminadas de la lista */
  padding-left: 0;                      /* Elimina el padding izquierdo predeterminado de los list-item */

  /* Alineación de los links en columna con un pequeño respiro de 5px */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__list--social {
  display: flex;                        /* Layout horizontal para los iconos de redes sociales */
  flex-direction: row;
  justify-content: center;              /* Centrado horizontal de los iconos */
  gap: 20px;                            /* Espacio de 20px entre iconos para evitar clics accidentales en pantallas táctiles */
  font-size: 1.3rem;                    /* Tamaño de los iconos de redes sociales (20.8px) */
}

.footer__list-item a {
  color: var(--bg-color);
  text-decoration: none;                /* Elimina el subrayado que los navegadores aplican por defecto a los enlaces (<a>) */

  transition: color .3s ease;           /* Transición suave de 0.3s para el cambio de color al interactuar */
}

.footer__list-item a:hover {
  color: var(--second-color);  /* Feedback visual: cambia al color magenta claro de la marca al pasar el cursor */
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 768px) {   /* Tablets en horizontal y portátiles pequeñas (md) */

  .footer .container {
    flex-direction: row;                /* Cambia a disposición horizontal en pantallas medianas/grandes */
    justify-content: space-around;      /* Distribuye las 3 columnas equitativamente con espacio alrededor */
    max-width: 1320px;                  /* Limita el ancho máximo para mantener coherencia con el resto de la web */
    margin: auto;                       /* Centra el contenedor horizontalmente */
    margin-bottom: 15px;                /* Margen inferior de seguridad antes del copyright */
  }

  .footer__column {
    text-align: center;                 /* Mantenemos el centrado para alinear con el copyright inferior */
    flex: 1;                            /* Forzamos que cada columna ocupe el mismo ancho (33.3%) */

    /* 
    flex: 1 es un shorthand de:

    flex-grow: 1: El elemento puede crecer.
    flex-shrink: 1: El elemento puede encogerse si no hay espacio.
    flex-basis: 0: El tamaño inicial del elemento antes de repartir el espacio es cero (lo que garantiza que todos se repartan el espacio por igual desde el principio).
    */
  }
}

/* ---------- FOOTER ENDS ---------- */

/* ---------- HOME SECTION (Mobile) ---------- */
.hero {
  background: linear-gradient(#0005),           /* Capa de fondo 1: Gradiente negro con 31% de opacidad (#0005) para oscurecer la imagen */
  url('../assets/hero.png');                      /* Capa de fondo 2: Imagen principal del hero (.png) */
  background-size: cover;                         /* Asegura que la imagen de fondo cubra todo el contenedor, escalando y recortando sin perder su proporción original */
  background-position: center;                    /* Posiciona la imagen siempre en el centro geométrico del contenedor hero */
  
  text-align: center;                   /* Hereda la alineación centrada a los elementos de texto */
  color: var(--bg-color);               /* Hereda el color a los elementos de texto */
  
  height: 80vh;                         /* Define una altura relativa al 80% de la altura total de la pantalla (Viewport Height) */
  display: flex;                        /* Activa el modelo de caja flexible (Flexbox) para el control de la disposición de los hijos */
  justify-content: center;              /* Alinea y centra los elementos hijos (.hero__content) en el eje principal (horizontal) */
  align-items: center;                  /* Alinea y centra los elementos hijos en el eje transversal (vertical) */
}

.hero__title {
  text-wrap: balance;                   /* El navegador balancea el ancho de las líneas para evitar que queden palabras sueltas (huérfanas) al final, logrando un título simétrico y armónico */
  font-size: 3rem;                      /* Tamaño de fuente relativo (3 * 16px del navegador = 48px) */
  font-weight: bold;                    /* Le da más peso al título engrosando la fuente */
  margin-bottom: 10px;                  /* Crea un espacio inferior para separarlo visualmente del subtítulo */
}

.hero__subtitle {
  text-wrap: pretty;                    /* Optimiza el salto de línea para evitar que la última palabra del párrafo quede sola en una línea (viuda), mejorando la prolijidad visual. */
  font-size: 1.3rem;                    /* Tamaño de fuente relativo (1.3 * 16px del navegador = 20.8px) */
  padding: 0 30px;                      /* No permite que el  texto se pegue a los bordes de la pantalla si esta es muy angosta */
  max-width: 600px;                     /* Ancho máximo para no fatigar la vista con líneas muy largas */
}

.hero__btn {
  background-color: var(--first-color);
  color: var(--bg-color);
  text-decoration: none;                /* Elimina el subrayado que los navegadores aplican por defecto a los enlaces (<a>) */
  display: inline-block;                /* Convierte el enlace en un elemento de bloque en línea para aplicar márgenes y paddings correctamente, sin que pierda su flujo natural */
  padding: 15px 30px;                   /* Espaciado interno generoso (15px arriba/abajo, 30px lados) para aumentar el área de interacción (clic) */
  border-radius: 30px;                  /* Define un radio de borde alto para lograr esquinas completamente redondeadas (tipo "píldora") */
  font-weight: bold;                    /* Aumenta el peso de la fuente (Bold/700) para destacar la llamada a la acción */
  margin: 30px;                         /* Crea una separación para distanciar el botón de cualquier elemento adyacente */

  transition: transform 0.3s ease;      /* Aumenta su escala en un 10% cuando se pasa el mouse por encima del botón */
}

.hero__btn:hover {
  transform: scale(1.1);
}

/* ------------------------------ */

.categories__title {
  color: var(--third-color);
  text-align: center;                   /* Alinea el texto al centro de su elemento contenedor h2 */
  margin: 40px 0 25px;                  /* Crea un espacio superior de 40px para distanciar de la sección anterior y 20px inferior para separarlo visualmente de la grilla */
  font-size: 2.2rem;                    /* Tamaño de fuente relativo (2.2 * 16px del navegador = 35.2px) */
}

.categories-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto 30px;               /* Centra el bloque .categories__grid horizontalmente dentro de su elemento padre (.categories) */
  max-width: 600px;                     /* Limita el ancho máximo para controlar la cantidad de columnas en pantallas muy grandes y evitar que se estiren demasiado */
  gap: 25px;                            /* Establece una separación de 25px entre las tarjetas de categoría (flex-items) */
}

.categories__item img {
  width: 120px;                         /* Establece un ancho fijo de 120px para la imagen de la categoría */
  height: 120px;                        /* Establece un alto fijo de 120px para la imagen de la categoría */
  object-fit: cover;                    /* Escala y recorta la imagen para cubrir el contenedor (120x120px) sin perder su proporción original ni deformarse */
  border-radius: 50%;                   /* Convierte el elemento en un círculo perfecto al aplicar un radio de borde del 50% (en elementos cuadrados). */
  margin-bottom: 15px;                  /* Crea una separación inferior de 15px para distanciar la imagen del texto de la categoría */
  box-shadow: 0 0 15px #0005;
}

.categories__description{
  font-size: 1.5rem;
  color: var(--third-color);
}

.categories__item {
  display: grid;                        /* Convierte el enlace en un contenedor Grid para alinear la imagen y el texto */
  justify-items: center;                /* Alinea y centra los grid-items (imagen y span) horizontalmente dentro de la tarjeta */
  text-decoration: none;                /* Elimina el subrayado que los navegadores aplican por defecto a los enlaces (<a>) */
  
  /* Prepara una animación suave para cualquier cambio en la propiedad 'transform'. 
    La transición durará 0.3 segundos con una curva de velocidad suave (ease). */
  transition: transform 0.3s ease;
}

.categories__item:hover {
  /* Al pasar el mouse, desplaza el elemento 5px hacia arriba en el eje vertical (Y). 
    Gracias a la 'transition' del padre, este movimiento se ve como una levitación suave. */
  transform: translateY(-5px);
}

/* ---------- HOME ENDS ---------- */

/* ---------- PRODUCT SECTION (Mobile) ---------- */
.products{
  padding: 20px 40px 20px;              /* Genera un espacio interno para evitar que las tarjetas toquen los bordes de la pantalla */
}

.products__section{
  margin-bottom: 35px;                  /* Define un margen inferior para separar con claridad las distintas categorías de productos */
}

.products__title { 
  color: var(--color-text-main);         
  font-size: 1.8rem;                    /* Tamaño de fuente relativo (1.8 * 16px del navegador = 28.8px) */
  text-align: center;                   /* Posiciona el texto en el centro del eje horizontal del contenedor */
  padding: 10px 0 25px;                 /* Espaciado interno superior e inferior para dar aire al título */
  margin: 0;                            /* Elimina los márgenes externos predeterminados del elemento h2 */
}

.products__grid{
  display: grid;                        /* Habilita el modelo de layout de rejilla (Grid) */
  grid-template-columns: repeat(auto-fit, 280px);     /* 'auto-fit' ajusta el número de columnas al ancho disponible; cada una con un ancho fijo de 280px */
  max-width: 1400px;                    /* Limita el ancho total de la grilla para mantener la estética en monitores ultra-wide */
  margin: 0 auto 40px;                  /* Centra el bloque .products__grid horizontalmente dentro de su elemento padre (.products) */
  align-items: stretch;                 /* Fuerza a que todos los elementos de una fila tengan la misma altura, estirando los fondos */
  justify-content: center;              /* Distribuye las columnas centradas si el ancho total de estas es menor al max-width */
  gap: 20px;                            /* Establece una separación de 20px entre las tarjetas (grid-items) */
}

.card{
  background-color: var(--color-surface);
  box-shadow: 2px 2px 10px #0005;     /* Sombra: 2px horizontal, 2px vertical, 10px de desenfoque y color negro con 31% de opacidad (#0005) */
  border-radius: 15px;                  /* Redondea las esquinas de la card */
  overflow: hidden;                     /* Recorta cualquier contenido hijo (como la imagen) que intente sobresalir de las esquinas redondeadas */

  display: flex;                        /* Activa el modelo de caja flexible para organizar la imagen y el contenido en un solo eje */
  flex-direction: column;               /* Alinea los elementos uno debajo del otro de forma vertical */
  
  height: 100%;                         /* Asegura que la tarjeta ocupe el 100% de la altura de su celda en la grilla */
}

.card__img{
  width: 100%;                          /* Asegura que la imagen tome todo el ancho de la tarjeta */
  height: 200px;                        /* Altura fija para normalizar el tamaño de las tarjetas independientemente de la foto original */
  object-fit: cover;                    /* Escala y recorta la imagen para cubrir el contenedor sin perder su relación de aspecto */
}

.card__content {
  padding: 10px 20px 20px;              /* Establece un padding superior de 10px, lateral de 20px e inferior de 20px */
  text-align: center;                   /* Hereda la alineación centrada a todos los elementos de texto dentro de la tarjeta */

  display: flex;                        /* Activa el modelo de caja flexible para organizar el contenido en un solo eje */
  flex-direction: column;               /* Alinea los elementos uno debajo del otro de forma vertical */
  gap: 15px;                            /* Establece un espaciado uniforme entre cada componente de la tarjeta */

  flex-grow: 1;                         /* Permite que el bloque de texto se expanda para absorber el espacio vacío de la tarjeta */
}

.card__title {
  color: var(--color-text-main);
  font-size: 1.4rem;                    /* Tamaño de fuente relativo (1.4 * 16px del navegador = 22.4px) */
}

.card__description {
  font-size: 0.95rem;                   /* Tamaño de fuente relativo (0.95 * 16px del navegador = 15.2px) */
  line-height: 1.4;                     /* Define la distancia entre líneas de texto para mejorar la legibilidad del párrafo */
}

.card__price {
  color: var(--color-primary);
  padding-top: 15px;                    /* Espaciado interno superior para separar el precio del párrafo descriptivo */
  margin-top: auto;                     /* Absorbe el margen superior disponible para empujar el precio y el botón al final de la tarjeta */
  font-size: 1.6rem;                    /* Tamaño de fuente relativo (1.6 * 16px del navegador = 25.6px) */
  font-weight: 700;                     /* Define el peso de la fuente en negrita (Bold) para destacar el valor comercial */
}

.card__btn {
  background-color: var(--color-primary-variant);
  color: var(--color-surface);
  box-shadow: 0 0 10px #0005;         /* Sombra: 0 horizontal, 0 vertical, 10px de desenfoque y color negro con 31% de opacidad (#0005) */
  font-weight: 600;                     /* Agrega mas peso a la fuente del botón */ 
  width: 100%;                          /* Ocupará el 100% del ancho de su elemento contenedor */
  padding: 12px;                        /* Agregá un padding superior e inferior (el lateral no lo tendrá en cuenta gracias al width: 100%) */
  border: none;                         /* Quita el borde que el navegador coloca por defecto */
  border-radius: 8px;                   /* Redondea las esquinas del boton para darle mayor suavidad */
  cursor: pointer;                      /* Cambia el cursor a la "manito" para indicar que el elemento es interactivo */
}

/* ---------- PRODUCT ENDS ---------- */

/* ---------- ABOUT SECTION (Mobile) ---------- */
.about__wrapper{
  max-width: 1400px;                    /* Limita la expansión horizontal para mantener la estética en pantallas grandes */
  min-width: 250px;                     /* Asegura un ancho mínimo para evitar que el contenedor se colapse en pantallas muy pequeñas */

  display: flex;                        /* Activamos Flexbox en el contenedor principal */
  flex-direction: column;               /* Colocamos los flex-items en forma vertical */
  justify-content: center;              /* Alinea y centra los flex-items verticalmente dentro del contenedor */
  align-items: center;                  /* Alinea y centra los flex-items horizontalmente dentro del contenedor */
  padding: 20px;                        /* Crea un espacio uniforme de 20px superior/inferior y 15px lateral para separar el contenido de los bordes */
  gap: 25px;                            /* Define una separación uniforme y controlada de 25px entre los elementos hijos en el eje vertical */
  margin: 20px auto 40px;               /* Centra el bloque .about__wrapper horizontalmente dentro de su elemento padre */
}

.about__img-container{
  max-height: 500px;                    /* Limita la altura máxima de la imagen para evitar que se desborde en pantallas pequeñas */
  border-radius: 8px;                   /* Aplica un radio de borde de 8px para suavizar las esquinas del contenedor */
  overflow: hidden;                     /* Oculta cualquier contenido que se desborde del contenedor */
}

.about__img{
  width: 720px;                         /* Establece un ancho fijo de 720px para la imagen */
  max-width: 100%;                      /* Permite que la imagen se estire hasta ocupar el 100% del ancho disponible de su elemento padre (.about__img-container) en pantallas menores al max-width (Mobile) */

  border-radius: 8px;                   /* Aplica un radio de borde de 8px para suavizar las esquinas de la imagen */
  overflow: hidden;                     /* Oculta cualquier contenido que se desborde de la imagen */
}

.about__data{
  max-width: 100%;                      /* Permite que el contenedor se estire hasta ocupar el 100% del ancho disponible de su elemento padre (.about__wrapper) en pantallas menores al max-width (Mobile) */
  margin: auto;                         /* Centra el bloque .about__data horizontalmente dentro de su elemento padre */
}

.about__content{
  width: 720px;                         /* Establece un ancho fijo de 720px para el contenido de texto */
  max-width: 100%;                      /* Permite que el contenido se estire hasta ocupar el 100% del ancho disponible de su elemento padre (.about__data) en pantallas menores al max-width (Mobile) */
}

.about__title{
  text-wrap: balance;                   /* Balancea el ancho de las líneas para evitar que queden palabras sueltas (huérfanas) al final, logrando un título simétrico y armónico */
  text-align: center;                   /* Alinea el texto del título al centro del ancho del contenedor */
}

.about__description{
  margin: 15px 0;                       /* Crea una separación uniforme de 15px superior/inferior y 0px lateral para separar los párrafos de texto */
  text-wrap: pretty;                    /* Optimiza el salto de línea para evitar que la última palabra del párrafo quede sola en una línea (viuda), mejorando la prolijidad visual. */
}

/* ---------- ABOUT ENDS ---------- */

/* ---------- CONTACT SECTION (Mobile) ---------- */
.contact{
  padding: 25px 30px 0;                 /* Genera un espacio interno superior de 25px y lateral de 30px (0 inferior) para separar el contenido de los bordes del dispositivo */
  display: flex;                        /* Activa el modelo de caja flexible para el control UNIDIMENSIONAL de la disposición de los hijos (en este caso, en columna). */
  flex-direction: column;               /* Establece la dirección del eje principal en columna, apilando los elementos verticalmente */
  justify-content: center;              /* Alinea y centra los elementos hijos (.contact__title, formulario, etc.) en el eje principal (vertical) */
  align-items: center;                  /* Alinea y centra los elementos hijos en el eje transversal (horizontal) */
}

.contact__title{
  font-size: 2.4rem;                    /* Tamaño de fuente relativo (2.4 * 16px del navegador = 38.4px) */
  text-align: center;                   /* Alinea el texto al centro (Aunque ya lo haga flex con su propiedad align-items, esta propiedad sirve para textos largos) */
  padding-bottom: 20px;                 /* Genera un espacio interno inferior de 20px para separar el titulo del formulario */
}

.contact__form{
  max-width: 600px;                     /* Limita la expansión horizontal para mantener la estética y legibilidad en monitores anchos (Desktop). */
  width: 100%;                          /* Permite que el formulario se estire hasta ocupar el 100% del ancho disponible de su elemento padre (.contact) en pantallas menores al max-width (Mobile). */
  
  padding: 12px;                        /* Genera un espacio interno uniforme de 12px entre los bordes del formulario y su contenido (los fieldset y boton). */
  margin-bottom: 30px;                  /* Crea una separación inferior de 30px para distanciar el formulario del comienzo del footer de la página. */

  display: flex;
  flex-direction: column;
  gap: 15px;                            /* Define una separación uniforme, centralizada y controlada de 15px entre los elementos hijos principales (fieldsets y el botón submit) en el eje vertical. */
}

.contact__form fieldset{
  border-radius: 10px;                  /* Aplica un radio de borde de 10px para suavizar las esquinas del fieldset, integrando la estética moderna y amable de la marca Kámba en el formulario. */
  padding: 20px;                        /* Define un espacio interno uniforme de 20px (padding) entre los bordes del fieldset y su contenido (los inputs). */
}

.contact__input-container :is(input, textarea, select, button){ /* Aplica los estilos de forma agrupada a los inputs, textarea, select y button hijos de .contact__input-container */
  width: 100%;                          /* Permite que todos los elementos de formulario ocupen el 100% del ancho disponible de su contenedor */
  padding: 9px;                         /* Crea un espacio uniforme de 9px (padding) entre los bordes del input y su contenido de texto */
  font-size: 1rem;                      /* Tamaño de fuente relativo (1 * 16px del navegador = 16px) */
  box-shadow: 2px 2px 4px #0003;      /* Aplica una sombra suave y uniforme (4px de desenfoque) para generar profundidad (elevación) sobre el fondo crema */
  border: none;                         /* Elimina el borde estético que los navegadores añaden por defecto a los elementos de formulario */
  margin: 15px 0 15px;                  /* Crea un espacio de 15px en la parte superior e inferior para separar visualmente los inputs entre sí */
  border-radius: 5px;                   /* Aplica un radio de borde de 5px para suavizar las esquinas de los inputs y botones */
}

.contact__input-container textarea{
  resize: none;                         /* Desactiva la capacidad predeterminada del navegador que permite al usuario redimensionar manualmente el cuadro de texto con el mouse */
  min-height: 120px;                    /* Define una altura mínima de 120px para el área de texto */
  font-family: inherit;                 /* Fuerza al textarea a heredar la familia de fuente definida en sus elementos antecesores (como el 'body') */
}

.contact__input-container :is(input, textarea, select):focus {
  outline: 2px solid var(--color-primary);        /* Reemplaza el naranja por defecto por el magenta de la marca */
}

.contact__input-container button{
  background-color: var(--color-primary-variant);
  color: var(--color-surface);
  padding: 12px;                        /* Crea un espacio uniforme de 12px (padding) entre los bordes del botón y su contenido de texto (será visible arriba y abajo ya que a los laterales se encarga el width: 100% definido antes) */
  cursor: pointer;                      /* Cambia el cursor predeterminado del navegador por una mano (pointer) al pasar el mouse sobre el botón, indicando que se trata de un elemento interactivo y seleccionable */
}

/* ---------- CONTACT ENDS ---------- */


.whatsapp-btn {
  position: fixed;                      /* Posiciona el elemento respecto a la ventana del navegador (viewport), no al documento */  
  bottom: 30px;                         /* Lo ubica a 20px del borde inferior de la pantalla */
  right: 30px;                          /* Lo ubica a 20px del borde derecho de la pantalla */
  z-index: 100;                         /* Asegura que el logo flote por encima de cualquier otro elemento (como el header o secciones) */
}

.whatsapp-btn img {
  width: 60px;
  transition: transform .25s ease,
              filter 0.25s ease;
}

.whatsapp-btn:hover img {
  transform: scale(1.2);                           /* Efecto de crecimiento suave */
  filter: drop-shadow(0 0 5px var(--third-color));      /* Genera una sombra oscura en el contorno real del logo (ideal para archivos PNG) */
}

/* -------------------------------------------------- */

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 768px){ /* Tablets en horizontal y portátiles pequeñas (md en Bootstrap) */

  /* ---------- CONTACT SECTION ---------- */
  .contact__form fieldset{
    display: grid;                      /* Activa display: grid en todos los fieldset */
    gap: 12px;                          /* Define una separación uniforme de 12px entre los inputs */
  }

  .contact__form fieldset:first-child{
    grid-template-areas:                /* Define las áreas de la grilla para reconfigurar el diseño a dos columnas */
    "name lastname"
    "email phone-number";
    gap: inherit;                       /* Hereda el gap de 15px del elemento padre (.contact__form) */
  }

  /* Nombrado de áreas para poder hacer uso de la propiedad 'grid-template-areas' definida en el elemento padre (:first-child). 
    Requiere que estos selectores tengan especificidad para asegurar que las áreas se asignen correctamente. */
  .contact__input-container:nth-child(2){ grid-area: name; }
  .contact__input-container:nth-child(3){ grid-area: lastname; }
  .contact__input-container:nth-child(4){ grid-area: email; }
  .contact__input-container:nth-child(5){ grid-area: phone-number; }

  /* Reconfigura el segundo fieldset (Información Adicional) para que use Flexbox en columna (Anula el display: grid del selector general) */
  .contact__form fieldset:last-of-type{
    display: flex;
    flex-direction: column;
  }

  /* ---------- CONTACT ENDS ---------- */
}

@media (min-width: 992px) { /* Escritorios estándar */

  /* ---------- ABOUT SECTION ---------- */
  .about__wrapper{
    flex-direction: row-reverse;        /* Invierte el orden de los flex-items (imagen y texto) para que la imagen quede a la izquierda y el texto a la derecha */
    justify-content: space-around;      /* Alinea y distribuye los flex-items con espacios uniformes entre y alrededor */        
    margin: auto;                       /* Centra el bloque .about__wrapper horizontalmente dentro de su elemento padre */
    gap: 30px;                          /* ¡CLAVE PRO! Define una separación uniforme y controlada de 30px entre la imagen y el bloque de texto */
  }

  .about__img-container{
    margin: 70px auto;                  /* Crea una separación uniforme de 70px superior/inferior para distanciar la imagen del contenido */
  }

  .about__img{
    width: 600px;                       /* Establece un ancho fijo de 600px para la imagen en pantallas grandes */
  }

  .about__content{
    width: 400px;                       /* Establece un ancho fijo de 400px para el contenido de texto en pantallas grandes */
    max-width: 100%;                    /* Permite que el contenido se estire hasta ocupar el 100% del ancho disponible de su elemento padre (.about__data) en pantallas menores al width (Mobile) */
  }

}

/* ---------- ABOUT ENDS ---------- */

/* Rangos Recomendados para Media Queries (CSS):

Móviles (Portrait): (max-width: 575px) - Estilos para teléfonos pequeños y medianos.
Móviles (Landscape) / Tablets: (min-width: 576px) - Tabletas en vertical y móviles grandes.
Tablets (Landscape) / Laptops: (min-width: 768px) - Tablets en horizontal y portátiles pequeñas.
Escritorio: (min-width: 992px) - Escritorios estándar.
Escritorio Grande: (min-width: 1200px) - Pantallas panorámicas.
*/