@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
  scroll-padding-top: 100px;            /* Otorga 100px de padding superior a todas las anclas internas */
}

/* Colors */
:root {

  /* Marca y Acciones (Magenta Principal) */
  --first-color: rgb(195, 32, 107);
  --first-alpha-color: rgba(195, 32, 107, 0.75);

  /* Acento y Variantes (Magenta Claro) */
  --second-color: rgb(229, 85, 145);
  --second-alpha-color: rgba(229, 85, 145, 0.75);

  /* Texto Oscuro (Especial para lectura sobre crema) */
  --third-color: rgb(92, 18, 54);
  --third-alpha-color: rgba(92, 18, 54, 0.75);

  /* Enlaces y Estados Activos (Blanco puro) */
  --link-color: rgb(255, 255, 255);
  --link-alpha-color: rgba(255, 255, 255, 0.75);

  /* Fondos (Crema característico de la marca) */
  --bg-color: rgb(242, 231, 226);
  --bg-alpha-color: rgba(242, 231, 226, 0.75);
  
  /* Color de superficie adicional */
  --surface-color: rgb(255, 255, 255);
}

body {
  font-family: 'Raleway', Arial, sans-serif;
  background-color: var(--bg-color);
}

/* ---------- HEADER SECTION (Mobile) ---------- */
.header {
  background-color: var(--second-color);
  box-shadow: 0 0 5px #0003;          /* Sombra sutil: 0 desplazamiento, 5px de desenfoque y color negro con 20% de opacidad */
  position: sticky;                     /* Fija el header al scroll respetando su espacio original en el flujo del documento */
  top: 0px;                             /* Define el punto de anclaje para el sticky (borde superior) */
  z-index: 10;                          /* Asegura que el header se posicione por encima de otros elementos en el eje Z */
}

.header__nav {
  max-width: 1320px;                    /* Limita el punto hasta donde se mueven los elementos del header en pantallas ultra anchas */
  margin: auto;                         /* Centra el contenido del header (logo y links) */
}

.header__logo {
  height: 3rem;                         /* Tamaño de fuente relativo (3 * 16px del navegador = 48px) */
  width: auto;                          /* Ancho automático para que no se pierda la relación de aspecto del logo */

  filter: drop-shadow(0 0 5px var(--third-color));      /* Genera una sombra oscura en el contorno real del logo (ideal para archivos PNG) */
  transition: filter 0.3s ease, transform 0.3s ease;    /* Suaviza la transición del filtro y la escala durante 0.3 segundos. */
}

.header__logo:hover {
  filter: drop-shadow(0 0 5px var(--link-color));       /* Cambia el color de la sombra del logo a blanco. */
  transform: scale(1.15);                               /* Aumenta el tamaño un 15% para dar feedback visual de interacción */
}

.header__open-nav-button {
  border: none;                         /* Elimina el borde del ícono de menú hamburguesa */
}

.header__open-nav-button:focus {
  box-shadow: none;                     /* Evita el borde azul predeterminado de los navegadores al hacer click */
}

.header__open-nav-button .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 1 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* Modificación de la variable original del ícono hamburguesa para cambiar el color base */

  transition: background-image 0.2s ease-out;           /* Cambia el color del ícono del menú hamburguesa en 0.2 segundos. */
}

.header__open-nav-button .navbar-toggler-icon:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 195, 32, 107, 0.75 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  /* Modificación de la variable original del ícono hamburguesa para cambiar el color en estado 'hover' */
}

.header__nav-list {
  margin-top: 5px;                      /* Genera un espacio de 5px que da aire a los links cuando el menú hamburguesa esta abierto */
}

.header__nav-item:hover {  
  background-color: var(--first-alpha-color);
  color: var(--surface-color);
  border-radius: 10px;                  /* Suaviza los bordes del color de fondo en hover de los links */
}

.nav-link {
  color: var(--bg-color);
  font-size: 1.15rem;                   /* Tamaño de fuente relativo (1.15 * 16px del navegador = 18.4px) */
  font-weight: bold;                    /* Le da más peso a la fuente de texto de los links */
  text-align: center;                   /* Alinea al centro el texto de los links */

  transition: color 0.3s ease-in-out,   /* Transición de 0.3s de cambio de color al texto del link */
              transform 0.3s ease;      /* Transición de 0.3s de cambio de tamaño (escala) al texto del link */
}

.nav-link:is(:hover, :focus) {
  color: var(--bs-white);
  transform: scale(1.06);
}

.nav-link--active {
  color: var(--bs-white);               /* Define el color blanco de la fuente al texto del link donde esta situado el usuario */
  text-shadow: 0 0 5px var(--bs-white); /* Define un brillo blanco en el link la página donde esta situado el usuario */
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 768px) {  /* Tablets en horizontal y portátiles pequeñas (md) */

  .header__nav-list {
    /* margin-left: auto;               /* Reemplazado por la clase 'ms-md-auto' de Bootstrap */
    margin-top: 0px;                    /* Elimina el espaciado vertical usado en el menú desplegable móvil */
    gap: 10px;                          /* Establece la separación horizontal entre los items de navegación */
  }

  .header__nav-item {
    padding-left: 0;                    /* Resetea el padding lateral heredado */
  }

  .header__nav-item:is(:hover,:focus) { /* :is() agrupa */
    background-color: transparent;      /* Remueve el color de fondo de la versión móvil para usar solo efectos de texto */
    margin: 0;                          /* Asegura que no haya desplazamientos por márgenes externos */
  }
}

/* ---------- HEADER ENDS ---------- */

/* ---------- FOOTER SECTION (Mobile) ---------- */
.footer {
  background-color: var(--third-color);
  color: var(--bg-color);

  padding: 25px 0;                      /* Espaciado interno para separar el contenido de los bordes del footer */
}

.footer .container {
  display: flex;                        /* Layout flexible para apilar secciones en vertical (móvil) */
  flex-direction: column;
  gap: 10px;                            /* Espaciado uniforme entre los bloques de Contacto, Enlaces y Redes */
}

.footer__column {
  text-align: center;                   /* Centrado de todo el contenido para una mejor jerarquía visual */
}

.footer__title {
  font-size: 1.25rem;                   /* Tamaño de fuente relativo (1.25 * 16px del navegador = 20px) */
  margin-bottom: 15px;                  /* Margen inferior para separar el título de la lista de contenidos */
}

.footer__list {
  list-style: none;                     /* Elimina los marcadores o viñetas predeterminadas de la lista */
  padding-left: 0;                      /* Elimina el padding izquierdo predeterminado de los list-item */

  /* Configuración flex para definir un respiro vertical entre los links */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__list--social {
  display: flex;                        /* Layout horizontal para los iconos de redes sociales */
  flex-direction: row;
  justify-content: center;              /* Centrado horizontal de los iconos */
  gap: 20px;                            /* Espacio de seguridad entre iconos para mejorar la usabilidad táctil */
  font-size: 1.3rem;                    /* Tamaño de los iconos de redes sociales (20.8px) */
}

.footer__list-item a {
  color: var(--bg-color);
  text-decoration: none;                /* Elimina el subrayado predeterminado */

  transition: color .3s ease;           /* Transición suave para el cambio de color en interacción */
}

.footer__list-item a:hover {
  color: var(--second-color);           /* Feedback visual basado en la identidad de marca */
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 768px) {  /* Tablets y portátiles pequeñas (md) */

  .footer .container {
    flex-direction: row;                /* Distribución horizontal para pantallas de tablet y escritorio */
    justify-content: space-around;      /* Reparto equitativo de las columnas en el ancho disponible */
    max-width: 1320px;                  /* Alineación con el ancho máximo del sitio */
    margin: 0 auto 15px auto;           /* Centrado horizontal y margen de seguridad inferior */
  }

  .footer__column {
    text-align: center;                 /* Mantenemos el centrado para alinear con el copyright inferior */
    flex: 1;                            /* Distribución proporcional: cada columna ocupa el mismo ancho inicial */

    /* 
    flex: 1 es un shorthand de:

    flex-grow: 1: El elemento puede crecer.
    flex-shrink: 1: El elemento puede encogerse si no hay espacio.
    flex-basis: 0: El tamaño inicial del elemento antes de repartir el espacio es cero (lo que garantiza que todos se repartan el espacio por igual desde el principio).
    */
  }
}

/* ---------- FOOTER ENDS ---------- */

/* ---------- HOME SECTION (Mobile) ---------- */
.hero {
  background: linear-gradient(#0005),                 /* Capa de fondo 1: Gradiente negro con 31% de opacidad (#0005) para oscurecer la imagen y resaltar texto blanco */
              url('../assets/hero.png');                /* Capa de fondo 2: Imagen principal del hero (.png) */
  background-size: cover;                               /* Asegura que la imagen cubra todo el contenedor, escalando y recortando sin perder su proporción original */
  background-position: center;                          /* Posiciona la imagen siempre en el centro geométrico del contenedor hero */
  
  text-align: center;                   /* Hereda la alineación centrada a los elementos de texto */
  color: var(--bg-color);               /* Hereda el color a los elementos de texto */
  
  height: 90vh;                         /* Define una altura relativa al 90% de la altura total de la pantalla (Viewport Height) */
  display: flex;                        /* Activa el modelo de caja flexible (Flexbox) para el control de la disposición de los elementos hijos */
  flex-direction: column;               
  justify-content: center;              /* Centrado en el eje principal (vertical al ser en columna la dirección) */
  align-items: center;                  /* Centrado en el eje transversal (horizontal al ser en columna la dirección) */
}

.hero__title {
  text-wrap: balance;                   /* Evita palabras sueltas para un título más estético */
  font-size: 3rem;                      /* Tamaño de fuente relativo (3 * 16px del navegador = 48px) */
  font-weight: bold;                    /* Le da más peso al título engrosando la fuente */
  margin-bottom: 10px;                  /* Crea un espacio inferior para separarlo visualmente del subtítulo */
}

.hero__subtitle {
  text-wrap: pretty;                    /* Optimiza el fin del párrafo para evitar líneas viudas */
  font-size: 1.3rem;                    /* Tamaño de fuente relativo (1.3 * 16px del navegador = 20.8px) */
  max-width: 600px;                     /* Limita el largo de línea para mejorar la legibilidad */
  padding: 0 30px;                      /* Colchón de seguridad para que el texto no toque los bordes en móvil */
}

.hero__btn {
  background-color: var(--first-color);
  color: var(--bg-color);
  text-decoration: none;                /* Elimina el subrayado que los navegadores aplican por defecto a los enlaces (<a>) */
  display: inline-block;                /* Convierte el enlace en un elemento de bloque en línea para aplicar márgenes y paddings correctamente, sin que pierda su flujo natural */
  padding: 15px 30px;                   /* Espaciado interno generoso (15px arriba/abajo, 30px lados) para aumentar el área de interacción (clic) */
  border-radius: 30px;                  /* Define un radio de borde alto para lograr esquinas completamente redondeadas (estilo píldora) */
  font-weight: bold;                    /* Aumenta el peso de la fuente (Bold/700) para destacar la llamada a la acción */
  margin: 30px;                         /* Crea una separación para distanciar el botón de cualquier elemento adyacente */

  transition: transform 0.3s ease;      /* Aumenta su escala en un 10% cuando se pasa el mouse por encima del botón */
}

.hero__btn:hover {
  transform: scale(1.1);                /* Feedback visual: el botón crece ligeramente al interactuar */
}

.home__container{
  padding: 20px 0;                      /* Espaciado interno vertical */
}

.categories__title {
  color: var(--third-color);
  margin: 30px 0;                       /* Crea un espacio superior e inferior de 30px para separar secciones */
  text-align: center;                   /* Alinea el texto al centro */
  font-size: 2.2rem;                    /* Tamaño de fuente relativo (2.2 * 16px del navegador = 35.2px) */
  font-weight: 600;
}

.categories-flex {
  display: flex;
  flex-wrap: wrap;                      /* Permite que los items bajen si no hay espacio */
  justify-content: space-around;
  margin: 20px auto 20px;               /* Centra el bloque .categories__grid horizontalmente dentro de su elemento padre (.categories) */
  max-width: 600px;                     /* Evita que el grupo de categorías se disperse en pantallas anchas */
  gap: 25px;                            /* Aire uniforme entre los círculos */
}

.categories__item img {
  width: 120px;                         /* Establece un ancho fijo de 120px para la imagen de la categoría */
  height: 120px;                        /* Establece un alto fijo de 120px para la imagen de la categoría */
  object-fit: cover;                    /* Mantiene la proporción de la foto dentro del círculo */
  border-radius: 50%;                   /* Convierte el elemento en un círculo perfecto al aplicar un radio de borde del 50% (en elementos cuadrados). */
  margin-bottom: 15px;                  /* Crea una separación inferior de 15px para distanciar la imagen del texto de la categoría */
  box-shadow: 0 0 15px #0005;         /* Sombra sutil para dar relieve a las fotos artesanales */
}

.categories__description{
  color: var(--third-color);
  font-size: 1.25rem;                   /* Tamaño de fuente relativo (1.25 * 16px del navegador = 20px) */
  font-weight: 600;
}

.categories__item {
  display: grid;                        /* Grid para centrar imagen y texto fácilmente */
  justify-items: center;                /* Alinea y centra los grid-items (imagen y span) horizontalmente dentro de la tarjeta */
  text-decoration: none;                /* Elimina el subrayado que los navegadores aplican por defecto a los enlaces (<a>) */
  
  /* Prepara una animación suave para cualquier cambio en la propiedad 'transform'. 
    La transición durará 0.3 segundos con una curva de velocidad suave (ease). */
  transition: transform 0.3s ease;
}

.categories__item:hover {
  /* Al pasar el mouse, desplaza el elemento 5px hacia arriba en el eje vertical (Y). 
    Gracias a la 'transition' del padre, este movimiento se ve como una levitación suave. */
  transform: translateY(-5px);
}

/* ---------- HOME ENDS ---------- */

/* ---------- PRODUCT SECTION (Mobile) ---------- */
.products{
  padding-top: 20px;                    /* Agrega un padding superior al contenido principal */
}

.products__section{
  margin-bottom: 3rem;                  /* Tamaño de fuente relativo (3 * 16px del navegador = 48px) */
}

.products__title{
  color: var(--third-color);
  text-align: center;                   /* Alinea el texto al centro */
  font-size: 2.2rem;                    /* Tamaño de fuente relativo (2.2 * 16px del navegador = 35.2px) */
  margin: 30px 0;                       /* Crea un espacio superior e inferior para distanciar secciones de productos */
  font-weight: 600;
}

.product__card{
  background-color: var(--surface-color);
  box-shadow: 2px 2px 10px #0005;     /* Sombra: 2px horizontal, 2px vertical, 10px de desenfoque y color negro con 31% de opacidad (#0005) */
  height: 100%;                         /* Obliga a todas las cards de una fila a tener la misma altura */
  border-radius: 10px;                  /* Redondea las esquinas de la card */
  border: none;                         /* Quita el borde por defecto de Bootstrap */
  overflow: hidden;                     /* Recorta cualquier contenido hijo (como la imagen) que intente sobresalir de las esquinas redondeadas */
  max-width: 240px;                     /* Controla el ancho máximo para que no se deforme en móviles de una columna */
  margin: auto;                         /* Centra la card si el contenedor es más ancho que el max-width */

  transition: transform 0.3s ease;      /* Prepara la suavidad del efecto de agrandado para que ocurra en 0.3 segundos */
}

.product__card:hover{
  transform: scale(1.02);               /* Aumenta el tamaño de la card un 2% (escala 1.02) al pasar el cursor */
}

.product-card__content{
  display: flex;
  flex-direction: column;
}

.product-card__title { 
  color: var(--third-color);          
  text-align: center;                   /* Alinea el texto al centro */
  font-size: 1.25rem;                   /* Tamaño de fuente relativo (1.25 * 16px del navegador = 20px) */
}

.card__price {
  color: var(--first-color);
  font-size: 1.35rem;                   /* Tamaño de fuente relativo (1.35 * 16px del navegador = 21.6px) */
  font-weight: 700;                     /* Define el peso de la fuente en negrita (Bold) para destacar el valor comercial */
  text-align: center;                   /* Alinea el texto al centro */
}

.card__btn {
  background-color: var(--second-color);
  color: var(--surface-color);
  border: none;                         /* Quita el borde que el navegador coloca por defecto */
  border-radius: 10px;                  /* Redondea las esquinas del boton para darle mayor suavidad */
  box-shadow: 0 0 10px #0005;         /* Sombra: 0 horizontal, 0 vertical, 10px de desenfoque y color negro con 31% de opacidad (#0005) */
  width: 100%;                          /* Ocupará el 100% del ancho de su elemento contenedor */
  padding: 12px;                        /* Agrega un padding superior e inferior (el lateral no lo tendrá en cuenta gracias al width: 100%) */
  font-weight: 600;                     /* Agrega mas peso a la fuente del botón */ 
  margin-top: auto;                     /* Absorbe el espacio sobrante para alinear todos los botones en la misma línea */

  transition: background-color 0.3s ease;
}

.card__btn:hover {
  background-color: var(--first-color); /* Feedback visual al pasar el mouse */
}

/* ---------- PRODUCT ENDS ---------- */

/* ---------- ABOUT SECTION (Mobile) ---------- */
.about{
  padding: 1.25rem 0;                   /* Espaciado vertical para separar la sección del header/footer */
}

.about__data{
  /* La clase 'row' de Bootstrap contiene display: flex */
  justify-content: center;
  align-items: center;                  /* Alineación centrada para la disposición vertical en móviles */
  margin-bottom: 1.25rem;
}

.about__content{
  color: var(--third-color);
  margin-bottom: 1.5rem;                /* Tamaño de fuente relativo (1.5 * 16px del navegador = 24px) */
  text-align: center;                   /* Centrado para favorecer la lectura en pantallas pequeñas */
}

.about__title{
  font-size: 2.2rem;                    /* Tamaño de fuente relativo (2.2 * 16px del navegador = 35.2px) */
  margin: 30px 0;                       /* Margen para jerarquizar el título respecto al contenido */
  font-weight: 600;
}

.about__description{
  text-wrap: pretty;                    /* Evita palabras huérfanas/viudas para un bloque de texto armónico */
  font-size: 1.2rem;                    /* Tamaño de fuente relativo (1.2 * 16px del navegador = 19.2px) */
  margin: 15px 0;                       /* Separación rítmica entre párrafos */
}

.about__img{
  width: 100%;
  height: 100%;
  
  /* Mantiene la proporción de la imagen recortando el excedente para llenar el contenedor */
  object-fit: cover;
  object-position: center;

  border-radius: 15px;                  /* Aplica un radio de borde para suavizar las esquinas de la imagen */
  box-shadow: 0 0 8px #0009;          /* Resalte visual para dar profundidad a la fotografía */
  overflow: hidden;                     /* Oculta cualquier contenido que se desborde del contenedor */
}

/* ---------- MEDIA QUERIES ---------- */
@media (min-width: 992px) { /* Notebooks y PC de escritorio (lg) */

  .about{
    padding: 5.25rem 0;                 /* Incremento del aire visual en pantallas grandes */
  }

  .about__data{
    flex-direction: row-reverse;        /* Invierte el orden de los flex-items (imagen y texto) para que la imagen quede a la izquierda */
    align-items: stretch;               /* Fuerza a que ambas columnas (texto e imagen) tengan la misma altura máxima */
  }

  .about__content {
    text-align: left;                   /* Alineación clásica de lectura para párrafos largos en PC */
    padding-left: 3rem;                 /* Espacio de respiro entre el bloque de texto y la imagen */

    display: flex;
    flex-direction: column;
    justify-content: center;            /* Centrado vertical del texto respecto a la altura de la columna vecina */
  }

  .about__title{
    text-align: center;
  }

  .about__img-container {
    display: flex;                      /* Permite que la imagen hija pueda expandirse al 100% de la altura del padre stretch */
    padding: 0;
    margin-bottom: 0;
  }
  
  .about__img{
    width: 100%;
    height: 100%;                       /* La imágen mide lo que mide el texto */
    object-fit: cover;
  }
}

/* ---------- ABOUT ENDS ---------- */

/* ---------- CONTACT SECTION (Mobile) ---------- */
.contact {
  padding: 40px 0;                      
  color: var(--third-color);
}

.contact__title{
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.contact__form {
  background-color: transparent;
  box-shadow: 0 0 5px #0003;
  border-radius: 8px;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
}

.contact__fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.contact__form fieldset:hover {
  border-color: var(--first-alpha-color);
}

.contact__form legend {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.contact__input-container label {
    font-weight: 500;
  margin: 12px 0 5px;
}

.contact__input-container :is(input, textarea, select){ 
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0 5px #0003;
  font-family: inherit;                 /* Fuerza al textarea a heredar la familia de fuente definida en sus elementos antecesores (como el 'body') */
}

.contact__input-container :is(input, textarea, select):focus {
  outline: 2px solid var(--first-color);        /* Reemplaza el naranja por defecto por el magenta de la marca */
}

.contact__input-container textarea{
  resize: none;                         /* Desactiva la capacidad predeterminada del navegador que permite al usuario redimensionar manualmente el cuadro de texto con el mouse */
  min-height: 120px;                    /* Define una altura mínima de 120px para el área de texto */
}

.contact__form button[type="submit"] {
  background-color: var(--second-color);
  color: var(--surface-color);
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;

  transition: background-color 0.3s;
}

.contact__form button[type="submit"]:hover {
  background-color: var(--first-color);
}

.contact__address{
  margin: 20px 0;
  margin-bottom: 0;
  border-radius: 8px;
  overflow: hidden;
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 992px){ /* Tablets en horizontal y portátiles pequeñas (md en Bootstrap) */

  .personal-information {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    grid-template-areas: 
    "name lastname"
    "email phone";
    gap: 20px;
  }
  
  .name { grid-area: name; }
  .lastname { grid-area: lastname; }
  .email { grid-area: email; }
  .phone { grid-area: phone; }
}

/* ---------- CONTACT ENDS ---------- */

.whatsapp-btn {
  position: fixed;                      /* Posiciona el elemento respecto a la ventana del navegador (viewport), no al documento */  
  bottom: 30px;                         /* Lo ubica a 20px del borde inferior de la pantalla */
  right: 30px;                          /* Lo ubica a 20px del borde derecho de la pantalla */
  z-index: 100;                         /* Asegura que el logo flote por encima de cualquier otro elemento (como el header o secciones) */
}

.whatsapp-btn img {
  width: 60px;
  filter: drop-shadow(0 0 4px #0004);
  transition: transform .25s ease,
              filter 0.25s ease;
}

.whatsapp-btn:hover img {
  transform: scale(1.2)                                 /* Efecto de crecimiento suave y hacia adentro */
            translateY(-5px) translateX(-5px);          
  filter: drop-shadow(0 0 8px var(--third-alpha-color));      /* Genera una sombra oscura en el contorno real del logo (ideal para archivos PNG) */
}

/* Rangos Recomendados para Media Queries (CSS):

Móviles (Portrait): (max-width: 575px) - Estilos para teléfonos pequeños y medianos.
Móviles (Landscape) / Tablets: (min-width: 576px) - Tabletas en vertical y móviles grandes.
Tablets (Landscape) / Laptops: (min-width: 768px) - Tablets en horizontal y portátiles pequeñas.
Escritorio: (min-width: 992px) - Escritorios estándar.
Escritorio Grande: (min-width: 1200px) - Pantallas panorámicas.
*/