@use 'utilities/variables' as v;

html{ scroll-padding-top: 100px; }      // Otorga 100px de padding superior a todas las anclas internas

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: v.$fuente, Arial, sans-serif;
  background-color: v.$fondo-pagina;
  color: v.$texto-oscuro;
  line-height: 1.6;
}

a { 
  text-decoration: none;
  color: inherit;
}

// Reset de listas
ul { 
  list-style: none; 
  padding-left: 0;                      // Resetea el padding lateral heredado
}

/* Logo de WhatsApp */
.whatsapp-btn {
  position: fixed;                      // Posiciona el elemento respecto a la ventana del navegador (viewport), no al documento
  bottom: 30px;                         // Lo ubica a 30px del borde inferior de la pantalla
  right: 30px;                          // Lo ubica a 30px del borde derecho de la pantalla
  z-index: 100;                         // Asegura que el logo flote por encima de cualquier otro elemento (como el header o secciones)

  img {
    width: 60px;
    filter: drop-shadow(0 0 4px #0004);
    transition: transform .25s ease,
                filter 0.25s ease;

    &:hover{
      transform: scale(1.2)             // Efecto de crecimiento suave y hacia adentro
                translateY(-5px)      
                translateX(-5px);          
      filter: drop-shadow(0 0 8px v.$texto-oscuro);         // Genera una sombra oscura en el contorno real del logo (ideal para archivos PNG)
    }
  }
}