@use 'utilities/variables' as v;
@use 'utilities/animaciones';

html{ scroll-padding-top: 100px; }      // Otorga 100px de padding superior a todas las anclas internas

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: v.$fuente, Arial, sans-serif;
  background-color: v.$fondo-pagina;
  color: v.$texto-oscuro;
  line-height: 1.6;
}

a { 
  text-decoration: none;
  color: inherit;
}

// Reset de listas
ul { 
  list-style: none; 
  padding-left: 0;
}

/* Logo de WhatsApp */
.whatsapp-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;

  animation: pulse 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;

  &:hover{
    animation-play-state: paused;
  }

  img {
    width: 50px; 
    filter: drop-shadow(0 0 4px #0004);
    transition: transform .25s ease,
                filter 0.25s ease;

    &:hover{
      transform: scale(1.2) translateY(-5px) translateX(-5px);
      filter: drop-shadow(0 0 8px v.$texto-oscuro);
    }
  }
}