@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

/* ---------- HEADER SECTION (Mobile) ---------- */
.header{
  background-color: v.$color-principal;
  box-shadow: 0 0 5px #0005;
  position: sticky;
  top: 0px;
  z-index: 10;

  &__nav{
    max-width: 1320px;
    margin: auto;
  }

  &__logo{
    height: 3rem;
    width: auto;

    filter: drop-shadow(0 0 5px v.$principal-secundario);
    transition: filter 0.3s ease, transform 0.3s ease;

    &:hover{
      filter: drop-shadow(0 0 5px v.$fondo-pagina);
      transform: scale(1.15) rotate(720deg);
    }
  }

  &__open-nav-button{
    border: none;

    &:focus{
      box-shadow: none;
    }

    .navbar-toggler-icon{
      --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 242, 231, 226 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      // Modificación de la variable original del ícono hamburguesa para cambiar el color base

      transition: background-image 0.2s ease-out;           // Cambia el color del ícono del menú hamburguesa en 0.2 segundos

      &:hover{
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 214, 56, 120 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        // Modificación de la variable original del ícono hamburguesa para cambiar el color
      }
    }
  }

  &__nav-list{
    margin-top: 5px;
  }

  &__nav-item:hover{
    background-color: v.$color-acento;
    border-radius: 10px;
  }
}

.nav-link {
  color: v.$fondo-pagina;
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;

  transition: color 0.3s ease-in-out, transform 0.3s ease;

  &:is(:hover, :focus){
    color: v.$texto-blanco;
    transform: scale(1.06);
  }

  &--active{
    color: v.$texto-blanco;
    text-shadow: 0 0 5px v.$texto-blanco;
  }
}

/* ---------- MEDIA QUERIES ---------- */
@include m.tablet{
  .header{

    &__nav-list{
      /* margin-left: auto;             /* Reemplazado por la clase 'ms-md-auto' de Bootstrap */
      margin-top: 0px;
      gap: 10px;
    }

    &__nav-item{

      &:is(:hover, :focus){
        background-color: transparent;
      }
    }
  }
}

/* ---------- HEADER ENDS ---------- */