@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

/* ---------- ABOUT SECTION (Mobile) ---------- */
.about{
  padding: 1.25rem 0;

  &__data{
    /* La clase 'row' de Bootstrap contiene display: flex */
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
  }

  &__content{
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__title{
    font-size: 2.2rem;
    margin: 30px 0;
    font-weight: 600;
  }

  &__description{
    text-wrap: pretty;
    font-size: 1.2rem;
    margin: 15px 0;
  }

  &__img{
    width: 100%;
    height: 100%;
  
    object-fit: cover;
    object-position: center;

    border-radius: 15px;
    box-shadow: 0 0 8px #0009;
    overflow: hidden;
  }
}

/* ---------- MEDIA QUERIES ---------- */
@include m.desktop{

  .about{
    padding: 5.25rem 0;

    &__data{
      flex-direction: row-reverse;
      align-items: stretch;
    }

    &__content{
      text-align: left;
      padding-left: 3rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title{
      text-align: center;
    }

    &__img-container{
      display: flex;
      padding: 0;
      margin-bottom: 0;
    }

    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* ---------- ABOUT ENDS ---------- */