@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

/* ---------- HOME SECTION (Mobile) ---------- */
.hero {
  background: linear-gradient(#0005),
              url('../assets/hero.webp');
  background-size: cover;
  background-position: center;
  
  color: v.$fondo-pagina;
  text-align: center;
  height: 90vh;
  
  @include m.flex(column, nowrap, center, center, 10px);

  &__title{
    text-wrap: balance;
    font-size: 3rem;
    font-weight: bold;
  }

  &__subtitle{
    text-wrap: pretty;
    font-size: 1.3rem;
    max-width: 600px;
    padding: 0 30px;
  }

  &__btn{
    background-color: v.$principal-secundario;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    margin: 30px;

    transition: transform 0.3s ease;
  
    &:hover{
      transform: scale(1.1);
    }
  }
}

.home__container{
  padding: 20px 0;
}

.categories{

  &__title{
    margin: 30px 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
  }

  &__description {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &-flex{
    margin: 20px auto 20px;
    max-width: 600px;
    @include m.flex(row, wrap, space-around, stretch, 25px);
  }

  &__item{
    display: grid;
    justify-items: center;

    transition: transform 0.3s ease;

    &:hover{
      transform: translateY(-5px);
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 15px;
      box-shadow: 0 0 15px #0005;
    }
  }
}