@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;

/* ---------- PRODUCT SECTION (Mobile) ---------- */
.products{
  padding-top: 20px;

  &__section{
    margin-bottom: 3rem;
  }

  &__title{
    text-align: center;
    font-size: 2.2rem;
    margin: 30px 0;
    font-weight: 600;
  }
}

.product{

  &-card{
    background-color: v.$fondo-tarjeta;
    box-shadow: 2px 2px 10px #0005;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    max-width: 240px;
    margin: auto;

    transition: transform 0.3s ease;
  
    &:hover{
      transform: scale(1.02);
    }

    img{
      height: 200px;
      object-fit: cover;
      object-position: center;
    }

    &__content{
      display: flex;
      flex-direction: column;
    }
    
    &__title{
      color: v.$principal-secundario;
      text-align: center;
      font-size: 1.25rem;
      
    }

    &__price{
      color: v.$color-principal;
      font-size: 1.35rem;
      font-weight: 700;
      text-align: center;

      margin-top: auto;
      margin-bottom: 10px;
    }

    &__btn{
      @extend %button;

      transition: background-color 0.3s ease;

        &:hover{
          background-color: v.$principal-secundario;
        }
    }
  }
}

/* ---------- PRODUCT ENDS ---------- */